extends layout

block content
  div.header-board
    div.container
      h1.board-title
        a.board-link(href='http://steamcommunity.com/market/search?q=appid:#{appInfo._id}') #{appInfo.name}
      hr
      div.col-sm-2.col-sm-offset-3.item-stat-container
        p.item-stat= appInfo.sold
        p.lead.item-stat-title Total sold
      div.col-sm-2.item-stat-container
        p.item-stat(ng-init='profit=#{appInfo.profit}', ng-cloak) {{ profit | currency }}
        p.lead.item-stat-title Total profit
      div.col-sm-2.item-stat-container
        p.item-stat(ng-init='total=#{appInfo.total}', ng-cloak) {{ total | currency }}
        p.lead.item-stat-title Total sold for
  div.container(ng-controller='AppCtrl')
    br
    include includes/transactions