extends layout

block content
  div.header-board
    div.container
      img.item-image(src='/api/hash/#{itemInfo.imgHash}')
      h1.board-title
        - var encodedItemName = encodeURIComponent(itemInfo._id)
        a.board-link(href='https://steamcommunity.com/market/listings/#{itemInfo.app}/#{encodedItemName}') #{itemInfo._id}
      p.board-subtitle
        a.board-link(href='http://steamcommunity.com/market/search?q=appid:#{itemInfo.app}')= itemInfo.appName
      hr
      div.col-sm-2.col-sm-offset-3.item-stat-container
        p.item-stat(ng-init='sold=#{itemInfo.sold}', ng-cloak) {{ sold | toLocalString }}
        p.lead.item-stat-title Total sold
      div.col-sm-2.item-stat-container
        p.item-stat(ng-init='profit=#{itemInfo.profit}', ng-cloak) {{ profit | currency }}
        p.lead.item-stat-title Total profit
      div.col-sm-2.item-stat-container
        p.item-stat(ng-init='total=#{itemInfo.total}', ng-cloak) {{ total | currency }}
        p.lead.item-stat-title Total sold for
      div.col-sm-2.col-sm-offset-4.item-stat-container
        p.item-stat(ng-init='sold=#{itemInfo.sold}', ng-cloak) {{ total / sold | currency }}
        p.lead.item-stat-title Avg. price
      div.col-sm-2.item-stat-container
        p.item-stat(ng-init='profit=#{itemInfo.profit}', ng-cloak) {{ profit / sold | currency }}
        p.lead.item-stat-title Avg. profit
  div.container(ng-controller='ItemCtrl')
    hr
    include includes/transactions